doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title ISS Tracking
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="/static/stylesheets/style.css")
body
  block content

script(src="https://code.jquery.com/jquery-latest.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")

script(src="https://maps.googleapis.com/maps/api/js?key=" + googleMaps_apiKey)
script(type="text/javascript" src="/static/javascripts/track.js")
